absl-py==2.4.0
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.97.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
async-timeout==5.0.1
attrs==25.4.0
av==17.0.1
beautifulsoup4==4.14.3
black==26.1.0
blis==1.3.3
braceexpand==0.1.7
catalogue==2.0.10
certifi==2026.1.4
charset-normalizer==3.4.4
chumpy @ git+https://github.com/mattloper/chumpy@580566eafc9ac68b2614b64d6f7aaa84eebb70da
click==8.3.1
cloudpathlib==0.24.0
cloudpickle==3.1.2
coloredlogs==15.0.1
colorlog==6.10.1
confection==1.3.3
contourpy==1.3.2
ctranslate2==4.7.1
cycler==0.12.1
cymem==2.0.13
Cython==3.2.4
detectron2 @ git+https://github.com/facebookresearch/detectron2@fd27788985af0f4ca800bca563acdb700bb890e2
dill==0.4.1
distro==1.9.0
docstring_parser==0.18.0
editdistance==0.8.1
einops==0.8.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
exceptiongroup==1.3.1
faster-whisper==1.2.1
filelock==3.20.0
flatbuffers==25.12.19
fonttools==4.61.1
freetype-py==2.5.1
frozenlist==1.8.0
fsspec==2025.12.0
ftfy==6.3.1
fvcore==0.1.5.post20221221
gdown==5.2.1
grpcio==1.78.0
h11==0.16.0
-e git+https://github.com/geopavlakos/hamer.git@3a01849f4148352e9260b69bf28b65d1671a4905#egg=hamer
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.4.1
humanfriendly==10.0
hydra-colorlog==1.2.0
hydra-core==1.3.2
hydra-submitit-launcher==1.2.0
idna==3.11
ImageIO==2.37.2
iopath==0.1.9
Jinja2==3.1.6
jiter==0.14.0
joblib==1.5.3
kiwisolver==1.4.9
langcodes==3.5.1
lazy_loader==0.4
lightgbm==4.6.0
lightning-utilities==0.15.2
locate==1.1.1
lxml==6.1.0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.8
mdurl==0.1.2
mmcv==1.3.9
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
murmurhash==1.0.15
mypy_extensions==1.1.0
networkx==3.4.2
numpy==2.2.6
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
omegaconf==2.3.0
onnxruntime==1.23.2
opencv-python==4.13.0.92
packaging @ file:///home/task_176104877067765/conda-bld/packaging_1761049113113/work
pandas==2.3.3
pathspec==1.0.4
pillow==12.0.0
platformdirs==4.9.0
portalocker==3.2.0
preshed==3.0.13
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
py-cpuinfo==9.0.0
pycocotools==2.0.11
pydantic==2.13.3
pydantic_core==2.46.3
pyglet==2.1.13
Pygments==2.19.2
PyOpenGL==3.1.0
pyparsing==3.3.2
pyrender==0.1.45
pyrootutils==1.0.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
pytokens==0.4.1
pytorch-lightning==2.6.1
pytz==2025.2
PyYAML==6.0.3
regex==2026.5.9
requests==2.32.5
rich==14.3.2
roma==1.5.6
safetensors==0.7.0
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
shellingham==1.5.4
six==1.17.0
smart_open==7.6.1
smplx==0.1.28
sniffio==1.3.1
soupsieve==2.8.3
spacy==3.8.14
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.3
submitit==1.5.4
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.3.0
thinc==8.3.13
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile==2025.5.10
timm==1.0.24
tokenizers==0.23.1
tomli==2.4.0
torch==2.5.0
torchmetrics==1.8.2
torchvision==0.20.0
tqdm==4.67.3
trimesh==4.11.2
triton==3.1.0
typer==0.23.1
typer-slim==0.23.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ultralytics==8.1.34
urllib3==2.6.3
wasabi==1.1.3
wcwidth==0.7.0
weasel==1.0.0
webdataset==1.0.2
Werkzeug==3.1.5
wilor_mini @ git+https://github.com/warmshao/WiLoR-mini@ebec42f94c389070cdd7dda6fd1bf0b4a659c960
wordfreq==3.1.1
wrapt==2.2.1
xtcocotools==1.14.3
yacs==0.1.8
yapf==0.43.0
yarl==1.22.0
